* { list-style: none; }

h2 { font-family: Noto Sans CJK KR; font-style: normal; font-weight: bold; font-size: 30px !important; line-height: 26px; letter-spacing: -0.01em; color: #000000; }

h3 { font-family: Noto Sans CJK KR; font-style: normal; font-weight: normal; font-size: 16px !important; line-height: 21px; letter-spacing: -0.01em; color: #000000; }

.container1 { position: relative; height: 1000px; }

.container1 .header-title { text-align: center; font-size: 2rem; }

.container1 .header-contents { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 5%; }

.container1 .winter { text-align: center; border: 1px solid black; border-radius: 10px; width: 60%; padding: 6%; margin-left: 15px; margin-top: 40px; }

.container1 .main_product .exam, .container1 .main_product1 .exam { position: absolute; width: 38%; top: 30%; left: 0; }

.container1 .main_product .exam1, .container1 .main_product1 .exam1 { position: absolute; width: 38%; top: 30%; right: 7%; }

.container1 .main_product .product_desc, .container1 .main_product1 .product_desc { position: absolute; left: 0%; right: 27.11%; top: 64.09%; bottom: 17.23%; }

.container1 .main_product .product_desc1, .container1 .main_product1 .product_desc1 { position: absolute; left: 55.11%; right: 0; top: 64.09%; bottom: 17.23%; }

.container1 .review { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-transform: translate(76%, 1100%); transform: translate(76%, 1100%); }

.container1 .header-title1 { text-align: center; font-size: 2rem; }

.container1 .image .exam2 { position: absolute; width: 38%; top: 30%; left: 50%; -webkit-transform: translate(-50%, -40%); transform: translate(-50%, -40%); }

.container1 .image .image_desc { position: absolute; top: 60%; left: 50%; -webkit-transform: translate(-90%, 60%); transform: translate(-90%, 60%); }

.container1 .product_explanation_img { width: 40%; }

.container1 .product_explanation_img .exam3 { width: 97%; -webkit-transform: translate(79%, 120%); transform: translate(79%, 120%); }

.container1 .product_explanation_img .exam4 { width: 97%; -webkit-transform: translate(79%, 620%); transform: translate(79%, 620%); }

.container1 .Home { position: absolute; left: 31%; top: 1%; cursor: pointer; color: black; }

.container1 .active { background-color: #eee; }

.container1 .noactive { background-color: white; }

.container1 .main_product { text-align: center; }

@media all and (min-width: 300px) and (max-width: 821px) { .header { width: 136%; }
  .winter { width: 140% !important; padding: 11% !important; }
  .header-title { padding-bottom: 3%; border-bottom: 2px solid #eee; }
  .exam { width: 80% !important; top: 30% !important; left: 10% !important; }
  .product_desc { position: absolute !important; left: 10% !important; right: 27.11% !important; top: 54.09% !important; bottom: 17.23% !important; width: 80% !important; }
  h2 { font-size: 17px !important; font-weight: 700 !important; }
  h3 { font-size: 15px !important; } }
